@import "tailwindcss";

:root {
    font-size: 16px;
}

@theme {
    --color-*: initial;
    --color-white: #fff;
    --color-black: #000;

    --color-purple-950: #17062A;
    --color-purple-900: #1E0936;
    --color-purple-850: #331C4D;
    --color-purple-800: #56077C;
    --color-purple-700: #6C34AC;
    --color-purple-650: #8631AF;

    --color-navy-950: #181F33;
    --color-navy-900: #242D44;
    --color-navy-850: #3A4663;
    --color-navy-750: #434A59;
    --color-navy-700: #647198;
    --color-navy-400: #A2B2E1;

    --color-gray-900: #36362C;
    --color-gray-300: #D2CDCD;
    --color-gray-200: #E6E6E6;
    --color-gray-100: #EEEEEE;

    --color-blue-950: #1A2327;
    --color-blue-500: #378187;
    --color-blue-400: #62B5BC;

    --color-red-600: #D03F2F;
    --color-red-400: #f96B5B;

    --color-orange-700: #C85402;
    --color-orange-400: #FF8A38;

    --color-cyan-500: #00DED0;
    --color-cyan-200: #93FFF8;

    --color-yellow-300: #FFE53D;

    --font-serif: "League Spartan", sans-serif;

    --font-weight-bold: 700;

    --spacing: 0.25rem;

    --breakpoint-*: initial;
    --breakpoint-tablet: 48rem;
    --breakpoint-desktop: 90rem;
}


@layer components {
    .text-1 {
        font-size: 3.5rem;
        line-height: 100%;
        letter-spacing: -1px;
    }

    .text-2 {
        font-size: 2.5rem;
        line-height: 100%;
        letter-spacing: -0.7px;
    }

    .text-3 {
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: -0.5px;
    }

    .text-4 {
        font-size: 1.75rem;
        line-height: 100%;
        letter-spacing: -0.5px;
    }

    .text-5 {
        font-size: 1.25rem;
        line-height: 100%;
        letter-spacing: -0.3px;
    }

    .text-6 {
        font-size: 0.75rem;
        line-height: 100%;
        letter-spacing: 1px;
    }
}

@custom-variant dark (&:where(.dark, .dark *))

@custom-variant custom (&:where(.custom, .custom *))